.container
    .card_top
        %h2.section-top= @task.title
        .card_detail_actions
            .dropdown
                = image_tag 'actions.svg', class: 'dropbtn'
                .dropdown-content.mini
                    = link_to 'Edit', edit_task_path(task)
                    = link_to 'Delete', task_path(task), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' }
    .card
        - if task.eyecatch.attached?
            .card_image
                = image_tag @task.eyecatch
        .card_content
            内容：
            = task.content
        .card_limit
            期限：
            = task.limit.strftime('%Y年%m月%d日')