.container
    %h2.section-top= @board.title
    
    - if @board.tasks.present?
        - @board.tasks.each do |task|
            = link_to board_task_path(@board, task) do
                .card
                    .card_top
                        = task.title
                    .card_content
                        = task.content
                    .card_limit
                        期限：
                        = task.limit.strftime('%Y年%m月%d日')
                    .card_user
                        = image_tag 'icon_image', class: 'user_image'
    .card_add_board
        = link_to '+ Add new Card', new_board_task_path(@board)