.container
    .card_top
        %h2.section-top= @board.title
        .card_detail_actions
            .dropdown
                = image_tag 'actions.svg', class: 'dropbtn'
                .dropdown-content.mini
                    = link_to 'Edit', edit_board_path(@board.id)
                    = link_to 'Delete', board_path(@board.id), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' }
    .board
        .board_cotent
            = @board.description
    .card_add_board
        = link_to '+ Add new Card', new_board_task_path(@board)