.container
    %h2.section-top= @board.title
    
    - if @board.tasks.present?
        - @board.tasks.each do |task|
            = link_to task_path(task) do
                .card
                    - if task.eyecatch.attached?
                        .card_image
                            = image_tag task.eyecatch
                    .card_top
                        = task.title
                    .card_content
                        内容：
                        = task.content
                    .card_limit
                        期限：
                        = task.limit.strftime('%Y年%m月%d日')
                    .card_comment
                        .card_user
                            = image_tag task.user.avatar_image, class: 'user_image'
                        .card_comment_count
                            = fa_icon 'pencil'
                            = task.comment_count
    .card_add_board
        = link_to '+ Add new Card', new_board_task_path(@board)